.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin:auto;
    gap: 10px;
    padding: 100px;
    flex-wrap: wrap;
}

.test, .testeo{
    position: relative;
}

.test::after, .testeo::after{
    content: "";
    position: absolute;
    height: 800px;
    width: 8px;
    border-radius: 4px;
    background: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 255));
}

.test::after{
    left: 195px;
}

.testeo::after{
    left: 407px;
}

.row1, .row2, .row3 {
    display: flex;
    gap: 10px; 
}

.squares{
    height: 180px;
    width: 180px;
    background-color: #1f3540;
    display: flex;
    border-radius: 12px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.container button{
    width: max-content;
    padding: 16px;
    border-radius: 32px;
    border: solid 1px #242424;
    background-color: #636363;
    color: #FFFDD0;
    cursor: pointer;
}
